<div class="relative p-8 overflow-hidden">
   <img
      src="assets/homeImg.jpg"
      alt="Image"
      class="absolute top-0 left-0 w-auto h-full block md:w-full"
   />

   <div class="text-center my-6 relative">
      <div class="text-6xl text-white font-bold mb-1">Mi Aseguradora</div>
      <div class="text-6xl text-primary font-bold mb-4">
         Asegura con nosotros todos tus vehículos
      </div>
      <p
         class="mt-0 mb-4 line-height-3 text-center mx-auto text-white"
         style="max-width: 500px"
      >
         Regístrate para empezar con nuestros servicios
      </p>

      <!-- <button pButton pRipple label="Learn More" type="button"></button> -->
      <app-modal-registro></app-modal-registro>

      <p class="text-sm mt-4 mb-4 line-height-3 text-white">
         Ocupa password complejo ( Mayúscula, minúscula, número y caracter
         especial ), porque no alcancé a poner clases para que de feedback al
         respecto 👍.
      </p>
      <p class="text-sm mt-4 mb-4 line-height-3 text-white">
         En el ícono de usuario en la barra de navegación te puedes logear con
         los campos pre-llenados u ocupar los de tu registro.
      </p>
   </div>
</div>
