<div class="text-xl text-900 font-500 mb-3">Edita tus datos</div>
<p class="text-600 line-height-3 mt-0 mb-6">
   Edita los datos del vehículo y revisa tus coberturas.
</p>
<ul class="list-none p-0 m-0">
   <li class="flex align-items-start mb-4">
      <div>
         <span
            class="flex align-items-center justify-content-center bg-primary"
            style="width: 38px; height: 38px; border-radius: 10px"
         >
            <i class="text-xl text-white pi pi-car"></i>
         </span>
      </div>
      <div class="ml-3">
         <span class="font-medium text-900">Edita datos</span>
         <p class="mt-2 mb-0 text-600 line-height-3">
            Edita los datos de tu vehículo y cotiza.
         </p>
      </div>
   </li>
   <li class="flex align-items-start mb-4">
      <div>
         <span
            class="flex align-items-center justify-content-center bg-primary"
            style="width: 38px; height: 38px; border-radius: 10px"
         >
            <i class="text-xl text-white pi pi-shield"></i>
         </span>
      </div>
      <div class="ml-3">
         <span class="font-medium text-900">Revisa Coberturas</span>
         <p class="mt-2 mb-0 text-600 line-height-3">
            Revisa los típos de cobertura que quieras tomar para tu vehículo.
         </p>
      </div>
   </li>
   <li class="flex align-items-start">
      <div>
         <span
            class="flex align-items-center justify-content-center bg-primary"
            style="width: 38px; height: 38px; border-radius: 10px"
         >
            <i class="text-xl text-white pi pi-thumbs-up"></i>
            <!-- pi-lock -->
         </span>
      </div>
      <div class="ml-3">
         <span class="font-medium text-900">Listo</span>
         <p class="mt-2 mb-0 text-600 line-height-3">
            Puedes seguir chocar tranquilamente, sigues asegurado con nosotros.
         </p>
      </div>
   </li>
</ul>
